<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile">
    <ion-img src="/assets/profile_pic.jpg" alt="Picture" style="height:5% width:5%"></ion-img>
    <ion-card>
      <ion-item>
        <ion-label>Name: JP Morgan</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>Address: 1000 Polaris Pkwy, Columbus, OH 43240</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>Mobile Phone: (614) 217-6284</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>Email: jpmorgan@chase.com</ion-label>
      </ion-item>
    </ion-card>
  </div>



</ion-content>
