<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="color:green" style="text-aligned: center"> Welcome </h2>

  <div class="profile">
  <ion-img src="profie_pic.jpg" alt="Picture" style="width:100%"></ion-img>
  <h3>Name: </h3>
  <hr style="color:green"> </hr>
  <p class = "title">Address</p>
  <hr style="color:green"> </hr>
  <p class = "title">Home Phone</p>
  <hr style="color:green"> </hr>
  <p class = "title">Email Address</p>
  </div>



</ion-content>
