<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile">
    <ion-img src="/assets/profile_pic.jpg" alt="Picture" style="height:5% width:5%"></ion-img>
    <ion-card>
      <ion-item>
        <ion-label>Name: {{NAME}}</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>Address: {{ADDRESS}}</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>Mobile Phone: {{MOBILE}}</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>Email: {{EMAIL}}</ion-label>
      </ion-item>
    </ion-card>
  </div>



</ion-content>
