#img{
  float: left;
}
#title{
  text-align: center;
}
#bar-top-pad {
  width: 400px;
  height: 8px;
}

#bar {
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 50px;
    margin-bottom: 50px;
}

canvas{
  width: 125%;
  height: 300%;
}