<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact US
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h2>Former Clients</h2> <form action="/action_page.php">
    <input type="submit" value="Log In"></form>

    <h2 style="color:screen"> New to Aprisen? </h2>

    <p>Fill out the form  <a href="tab2.contact.html">here</a>?</p>

       <hr >

       <h3>Call: 800.355.2227 to schedule an appointment</h3>
       <h3>Call: 800.355.2227 to speak with a Representative </h3>
       <hr style="color: green">

</ion-content>
