<ion-header>
  <ion-toolbar>
    <ion-title>
      <h2>Contact Us</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="contact_us">
  <div class="info">
    <form action="/action_page.php">
    <br>
    <ion-card>
      <ion-item>
        <ion-label> First name:</ion-label><ion-input type="text" name="fname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label> Last name:</ion-label><ion-input type="text" name="lname"></ion-input>
      </ion-item>
    </ion-card>
  
    <ion-card>
      <ion-item>
        <ion-label>City: </ion-label><ion-input type="text" name="fname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>State: </ion-label><ion-input type="text" name="fname"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label>Email: </ion-label><ion-input type="text" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Cell Phone: </ion-label><ion-input type="text" name="phoneNum"></ion-input>
      </ion-item>
      
    </ion-card>

    <ion-card>
      <ion-button expand="block"> Submit </ion-button>
    </ion-card>
    </form>
  </div>
</ion-content>
